.header{
  height: 100px;
  background-color: red;
}
.container{
  border: 2px solid blueviolet;
  overflow: hidden;
}
.blog{
  float: left;
  width: 70%;
  height: 150px;
  background-color: green;
}
.contact{
  float: right;
  width: 30%;
  height: 150px;
  background-color: blue;
}
.item{
  float: left;
  width: 33.33%;
  height: 100px;
}
.teal{
  background-color: teal;
}
.darkgray{
  background-color:darkgray;
}
.lightcoral{
  background-color: lightcoral;
}
.footer{
  /* clear: both; */
  height: 100px;
  background-color: black;
}